<div class="form-group">
  <input
  type="file"
  name="image"
  id="image"
  value="<%= article.image  %>"
  class="form-control"
  placeholder="upload image"
/>
  <label for="title">Title</label>
  <input
    type="text"
    name="title"
    id="title"
    value="<%= article.title  %>"
    class="form-control"
    placeholder="Enter title"
  />
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea
    type="text"
    name="description"
    id="description"
    class="form-control"
    placeholder="description"
  >
    <%= article.description %> 
  </textarea>
</div>
<div class="form-group mb-5">
  <label for="content">Content</label>
  <textarea
    type="text"
    name="content"
    id="content"
    class="form-control"
    placeholder="content"
  >
<%= article.  content %> 
  </textarea>
</div>
