<div class="form-group">
  <label for="title">Title</label>
  <input type="text" name="title"  id="title" class="form-control" placeholder="Enter email">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea type="text" name="description"  id="description" class="form-control" placeholder="description"></textarea>
</div>
<div class="form-group mb-5">
  <label for="content">Content</label>
  <textarea type="text" name="content"  id="content" class="form-control" placeholder="content"></textarea>
</div>